{% extends 'nav.html' %}
 {% block content %}
<div class="container">
<table class="table">
  <thead class="thead-dark">
    <tr>


      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Ottoejhfd uadfajsdb vkjn asld.kch aaedfk paodkc'paodjc'awpoefj a'peof ja'pweofj;sdkcjlaodhis ;oihd</td>
<td>       <a class="btn btn-primary btn-lg" href="#" role="button"> PLACE ORDER</a></td>
    </tr>
  <tr>

      <td>Otto</td>
      <td>   <a class="btn btn-primary btn-lg" href="#" role="button"> PLACE ORDER</a></td>
    </tr>
  <tr>

      <td>Otto</td>
      <td>   <a class="btn btn-primary btn-lg" href="#" role="button"> PLACE ORDER</a></td>
    </tr>

  </tbody>
</table>



</div>


{% endblock %}